<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supported Runtimeversion="v4.0"/>
  </startup>


  <connectionStrings>
    <add name="Almacenes.Properties.Settings.estanislao2017ConnectionString"
      connectionString="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!--<appSettings>
    <add key="bd2008" value="Data Source=ESTCHIMU005\MSSQLSERVER2014;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2009" value="Data Source=ESTCHIMU005\MSSQLSERVER2014;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2010" value="Data Source=ESTCHIMU005\MSSQLSERVER2014;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2011" value="Data Source=ESTCHIMU005\MSSQLSERVER2014;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2012" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2013" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2014" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2015" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2016" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2017" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2018" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2019" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2020" value="Data Source=68.168.108.52;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="RutaReportes" value="X:\\Reportes 2015"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="68.168.108.52"/>
    <add key="BasesDatos2008" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2009" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2010" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2011" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2012" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2013" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2014" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2015" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2016" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2017" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2018" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2019" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2019" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2019" value="ExoticsProducerPacking"/>
    <add key="Usuario" value="sa"/>
    <add key="Clave"  value="estanisl@o.2021"/>
  </appSettings>-->

  <!--<connectionStrings>
    <add name="Almacenes.Properties.Settings.estanislao2017ConnectionString"
      connectionString="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa; Password =.1975Casa"
      providerName="System.Data.SqlClient" />
    <add name="AplicacionesRRHH.Datos.Properties.Settings.ESTANISLAO2017ConnectionString1"
      connectionString="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"
      providerName="System.Data.SqlClient" />
    <add name="AplicacionesRRHH.Properties.Settings.ESTANISLAO2017ConnectionString"
      connectionString="Data Source=192.168.1.100;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--<appSettings>
    <add key="bd2008" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2009" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2010" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2011" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2012" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2013" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2017" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2015" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2016" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2017" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2018" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2019" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2020" value="Data Source=ESTCHIMU005;Initial Catalog=ExoticsProducerPacking;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="RutaReportes" value="X:\\Reportes 2015"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="ESTCHIMU005"/>
    <add key="BasesDatos2008" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2009" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2010" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2011" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2012" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2013" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2014" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2015" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2016" value="ExoticsProducerPacking"/>
    <add key="BasesDatos2017" value="ExoticsProducerPacking"/>
    <add key="Usuario" value="sa"/>
    <add key="Clave"  value="estanisl@o.2021"/>
  </appSettings>-->

  <!--ASJ-->
  <appSettings>
  <add key="bd2010" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2011" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2012" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2013" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2014" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2015" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2016" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2017" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2018" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2019" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="bd2020" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
  <add key="ConexionSanJuan" value=""/>
  <add key="RutaReportes" value="X:\Rpt_Solution\Rpt_SanJuan"/>
  <add key="RutaReportes" value="\\192.168.30.98\Xsolution\Rpt_Solution\Rpt_SanJuan"/>
  <add key="ClientSettingsProvider.ServiceUri" value=""/>
  <add key="Servidor" value="68.168.108.52"/>
  <add key="BasesDatos2013" value="AGRICOLA2017"/>
  <add key="BasesDatos2014" value="AGRICOLA2017"/>
  <add key="BasesDatos2015" value="AGRICOLA2017"/>
  <add key="BasesDatos2016" value="AGRICOLA2017"/>
  <add key="BasesDatos2017" value="AGRICOLA2017"/>
  <add key="BasesDatos2018" value="AGRICOLA2017"/>
  <add key="BasesDatos2019" value="AGRICOLA2017"/>
  <add key="BasesDatos2020" value="AGRICOLA2017"/>
  <add key="Usuario" value="adminsanjose2"/>
  <add key="Clave" value="Ag1c0l@18tz"/>
  </appSettings>


  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->

</configuration>
