<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supported Runtimeversion="v4.0"/>
  </startup>


  <!--<connectionStrings>
    <add name="Almacenes.Properties.Settings.estanislao2017ConnectionString"
      connectionString="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->


  <!--<appSettings>
    <add key="bd2008" value="Data Source=192.168.1.100;Initial Catalog=estanislao;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2009" value="Data Source=192.168.1.100;Initial Catalog=estanislao;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2010" value="Data Source=192.168.1.100;Initial Catalog=estanislao;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2011" value="Data Source=192.168.1.100;Initial Catalog=estanislao;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2012" value="Data Source=192.168.1.100;Initial Catalog=estanislao;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2013" value="Data Source=192.168.1.100;Initial Catalog=estanislao;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2017" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2015" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2016" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2017" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2018" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2019" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="bd2020" value="Data Source=192.168.1.100;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"/>
    <add key="RutaReportes" value="X:\\Reportes 2015"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="192.168.1.100"/>
    <add key="BasesDatos2008" value="Estanislao2017"/>
    <add key="BasesDatos2009" value="Estanislao2017"/>
    <add key="BasesDatos2010" value="Estanislao2017"/>
    <add key="BasesDatos2011" value="Estanislao2017"/>
    <add key="BasesDatos2012" value="Estanislao2017"/>
    <add key="BasesDatos2013" value="Estanislao2017"/>
    <add key="BasesDatos2014" value="estanislao2017"/>
    <add key="BasesDatos2015" value="estanislao2017"/>
    <add key="BasesDatos2016" value="estanislao2017"/>
    <add key="BasesDatos2017" value="estanislao2017"/>
    <add key="Usuario" value="sa"/>
    <add key="Clave"  value="estanisl@o.2021"/>
  </appSettings>-->

  <connectionStrings>
    <add name="Almacenes.Properties.Settings.estanislao2017ConnectionString"
      connectionString="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=estanislao2017;Persist Security Info=True;User ID=sa; Password =estanisl@o.2021"
      providerName="System.Data.SqlClient" />
    <add name="AplicacionesRRHH.Datos.Properties.Settings.ESTANISLAO2017ConnectionString1"
  connectionString="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"
  providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings>
    <add key="bd2008" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2009" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2010" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2011" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2012" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2013" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2017" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2015" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2016" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2017" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2018" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2019" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="bd2020" value="Data Source=EAURAZO\MSSQLSERVER2014;Initial Catalog=ESTANISLAO2017;Persist Security Info=True;User ID=sa;Password=estanisl@o.2021"/>
    <add key="RutaReportes" value="X:\\Reportes 2015"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="EAURAZO\MSSQLSERVER2014"/>
    <add key="BasesDatos2008" value="Estanislao2017"/>
    <add key="BasesDatos2009" value="Estanislao2017"/>
    <add key="BasesDatos2010" value="Estanislao2017"/>
    <add key="BasesDatos2011" value="Estanislao2017"/>
    <add key="BasesDatos2012" value="Estanislao2017"/>
    <add key="BasesDatos2013" value="Estanislao2017"/>
    <add key="BasesDatos2014" value="estanislao2017"/>
    <add key="BasesDatos2015" value="estanislao2017"/>
    <add key="BasesDatos2016" value="estanislao2017"/>
    <add key="BasesDatos2017" value="estanislao2017"/>
    <add key="Usuario" value="sa"/>
    <add key="Clave"  value="estanisl@o.2021"/>
  </appSettings>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->

</configuration>
