<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supported Runtimeversion="v4.0"/>
  </startup>

  <connectionStrings>
    <add name="TransportistaMto.Datos.Properties.Settings.attBackupConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GoComercialDatos.Properties.Settings.GoSolutionsConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.attBackupConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString1"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString2"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.agricolasanjuan2014ConnectionString3"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.AGRICOLA2017ConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Asistencia.Datos.Properties.Settings.AGRICOLA2017ConnectionString1"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<appSettings>
    <add key="bd2010" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2011" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2012" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2013" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2014" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2015" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2016" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2017" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2018" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2019" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="bd2020" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz"/>
    <add key="ConexionSanJuan" value=""/>
    <add key="RutaReportes" value="X:\Rpt_Solution\Rpt_SanJuan"/>
    <add key="RutaReportes" value="\\192.168.30.98\Xsolution\Rpt_Solution\Rpt_SanJuan"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="68.168.108.52"/>
    <add key="BasesDatos2013" value="AGRICOLA2017"/>
    <add key="BasesDatos2014" value="AGRICOLA2017"/>
    <add key="BasesDatos2015" value="AGRICOLA2017"/>
    <add key="BasesDatos2016" value="AGRICOLA2017"/>
    <add key="BasesDatos2017" value="AGRICOLA2017"/>
    <add key="BasesDatos2018" value="AGRICOLA2017"/>
    <add key="BasesDatos2019" value="AGRICOLA2017"/>
    <add key="BasesDatos2020" value="AGRICOLA2017"/>
    <add key="Usuario" value="adminsanjose2"/>
    <add key="Clave" value="Ag1c0l@18tz"/>
  </appSettings>-->


  <appSettings>
    <add key="bd2010" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2011" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2012" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2013" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2014" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2015" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2016" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2017" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2018" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2019" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="bd2020" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="ConexionSanJuan" value=""/>
    <add key="RutaReportes" value="X:\Rpt_Solution\Rpt_SanJuan"/>
    <add key="RutaReportes" value="\\192.168.30.98\Xsolution\Rpt_Solution\Rpt_SanJuan"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="(local)"/>
    <add key="BasesDatos2013" value="AGRICOLA2017"/>
    <add key="BasesDatos2014" value="AGRICOLA2017"/>
    <add key="BasesDatos2015" value="AGRICOLA2017"/>
    <add key="BasesDatos2016" value="AGRICOLA2017"/>
    <add key="BasesDatos2017" value="AGRICOLA2017"/>
    <add key="BasesDatos2018" value="AGRICOLA2017"/>
    <add key="BasesDatos2019" value="AGRICOLA2017"/>
    <add key="BasesDatos2020" value="AGRICOLA2017"/>
    <add key="Usuario" value="sa"/>
    <add key="Clave" value=".1975Casa"/>
  </appSettings>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->

</configuration>
