<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supported Runtimeversion="v4.0" />
  </startup>

  <!--<connectionStrings>
    <add name="TransportistaMto.Datos.Properties.Settings.attBackupConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\attBackup.mdb"
      providerName="System.Data.OleDb" />
    <add name="Transportista.Properties.Settings.AsistenciaPersonalAdministrativoConexion"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\att.mdb"
      providerName="System.Data.OleDb" />
    <add name="Transportista.Properties.Settings.AGRICOLA2017ConnectionString"
      connectionString="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2;Password=Ag1c0l@18tz"
      providerName="System.Data.SqlClient" />
    <add name="Transportista.Properties.Settings.agricolasanjuan2014ConnectionString"
      connectionString="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2;Password=Ag1c0l@18tz" />
  </connectionStrings>-->

  <connectionStrings>
    <add name="TransportistaMto.Datos.Properties.Settings.attBackupConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Transportista.Properties.Settings.AsistenciaPersonalAdministrativoConexion"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Transportista.Properties.Settings.AGRICOLA2017ConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Transportista.Properties.Settings.agricolasanjuan2014ConnectionString"
      connectionString="Data Source=BLUESOFT;Initial Catalog=AGRICOLA2017;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>
    <!--Agricola2017 | Local-->
    <add key="AGRICOLA2017" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="RutaReportes" value="D:\ASJ\Dev\Rpt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Servidor" value="(local)"/>
    <add key="bdAgricola2017" value="AGRICOLA2017"/>
    <add key="Usuario" value="sa"/>
    <add key="Clave" value=".1975Casa"/>
    <!--Agricola2017 | Publica-->
    <add key="PAGRICOLA2017" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <add key="PRutaReportes" value="D:\ASJ\Dev\Rpt"/>
    <add key="PClientSettingsProvider.ServiceUri" value=""/>
    <add key="PServidor" value="(local)"/>
    <add key="PUsuario" value="sa"/>
    <add key="PClave" value=".1975Casa"/>
    <!--bdPrueba | Local-->
    <add key="bdPrueba01" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <!--bdPrueba | Publica-->
    <add key="PbdPrueba01" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>

    <!--bdPrueba2 | Local-->
    <add key="bdPrueba02" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>
    <!--bdPrueba2 | Publica-->
    <add key="PbdPrueba01" value="Data Source=(local);Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=sa; Password =.1975Casa"/>

  </appSettings>


  <!--<appSettings>
    <add key="bd2010" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2011" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2012" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2013" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2014" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2015" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2016" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2017" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2018" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2019" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="bd2020" value="Data Source=68.168.108.52;Initial Catalog=AGRICOLA2017;Persist Security Info=True;User ID=adminsanjose2; Password =Ag1c0l@18tz" />
    <add key="ConexionSanJuan" value="" />
    <add key="RutaReportes" value="\\D:\SANJOSE\REPORTES\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Servidor" value="68.168.108.52" />
    <add key="BasesDatos2013" value="AGRICOLA2017" />
    <add key="BasesDatos2014" value="AGRICOLA2017" />
    <add key="BasesDatos2015" value="AGRICOLA2017" />
    <add key="BasesDatos2016" value="AGRICOLA2017" />
    <add key="BasesDatos2017" value="AGRICOLA2017" />
    <add key="BasesDatos2018" value="AGRICOLA2017" />
    <add key="BasesDatos2019" value="AGRICOLA2017" />
    <add key="BasesDatos2020" value="AGRICOLA2017" />
    <add key="Usuario" value="adminsanjose2" />
    <add key="Clave" value="Ag1c0l@18tz" />
  </appSettings>-->


  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>